{% extends 'base.html.twig' %}

{% block title %}Edytuj autora{% endblock %}

{% block body %}
    <h1>Edytuj autora</h1>

    {{ include('author/_form.html.twig') }}

    {{ include('_layout/back_link.html.twig', {'path_list': 'app_author_index'}) }}

{#    {{ include('author/_delete_form.html.twig') }}#}
{% endblock %}
