{% extends 'base.html.twig' %}

{% block title %}Dodaj autora{% endblock %}

{% block body %}
    <h1>Dodaj autora</h1>

    {{ include('author/_form.html.twig') }}

    {{ include('_layout/back_link.html.twig', {'path_list': 'app_author_index'}) }}

{% endblock %}
