<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}test!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ message }}
{% block javascripts %}{% endblock %}
</body>
</html>
