{% extends 'base.html.twig' %}

{% block title %}Dodaj książkę{% endblock %}

{% block body %}
    <h1>Dodaj książkę</h1>

    {{ include('book/_form.html.twig') }}

    {{ include('_layout/back_clink.html.twig', {'path_list': 'app_book_index'}) }}

{% endblock %}
