@import "./layout/variables";

$body-bg: $backgroundColor;
$body-color: $fontStandardColor;
$font-size-base: 1rem !default;
$link-color: $yellowColor;
$theme-colors: (
        "primary": $yellowColor,
        //"secondary": $thirdSpecialColor,
        //"success": #11FF22,
        //"info": #11FF22,
        //"warning": #11FF22,
        //"danger": #11FF22,
        //"light": #11FF22,
        "dark": $backgroundColor
);

$border-radius: .5rem !default;

$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;

$navbar-light-color: $yellowColor;
$navbar-light-hover-color: $fontStandardColor;
$navbar-light-active-color: $redColor;

$dropdown-link-color: $yellowColor;
$dropdown-bg: $lightBackgroundColor;

$table-bg: $backgroundColor;
$table-border-color: $fontStandardColor;
$table-head-color: $greenColor;

$input-color-placeholder: #443322 !default;
$input-alt-color-placeholder: #443322 !default;

@import "~bootstrap";
@import "~bootstrap-select/sass/bootstrap-select";
@import "~font-awesome";

::selection {
  background: #bfbfbf; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #bfbfbf; /* Gecko Browsers */
}

div.container {
  background: $black;
}

#content-page {
  margin-bottom: 40px;
}

// menu

.navbar {
  margin-bottom: $marginBottomMainObjects;
}

.dropdown-item {
  @include hover-focus {
    color: $yellowColor;
    background: $fontStandardColor;
  }
}

// headers

h1 {
  color: $redColor;
}

// links

a {
  i {
    margin-right: 0.25rem;
  }
}

// table

th {
  color: $greenColor;
}

// form

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $lightBackgroundColor;
  -webkit-text-fill-color: $fontStandardColor;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
}

form {
  background: $backgroundColor;
  padding: 10px;
  margin-bottom: $marginBottomMainObjects;

  label {
    color: $greenColor;
  }
}

.form-control {

  background: $black;
  color: $fontStandardColor;
  border-color: $lightBackgroundColor;

  &:focus {
    background: $black;
    color: $fontStandardColor;
    border-color: $lightBackgroundColor;
    box-shadow: 0 0 0 0;
  }

}
.bootstrap-select, .bootstrap-select.show {
  .dropdown-toggle, .dropdown-toggle:active, .dropdown-toggle:focus
  {
    background: $black !important;
    color: $fontStandardColor !important;
    border-color: $lightBackgroundColor !important;
    box-shadow: 0 0 0 0 !important;
  }

  .dropdown-item {
    color: $greenColor;

    &.selected, &.active {
      background: $lightBackgroundColor;
      border: 1px solid $greenColor;
    }

    &:hover {
      background: $greenColor;
      color: $black;
    }
  }
}

hr {
  border-top-color: $fontStandardColor;
}

.notes {
  .btn-group {
    margin-bottom: 10px;
  }
}

