{% extends 'base.html.twig' %}

{% block title %}Edit PublishingHouse{% endblock %}

{% block body %}
    <h1>Edit PublishingHouse</h1>

    {{ include('publishing_house/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_publishinghouse_index') }}">back to list</a>

    {{ include('publishing_house/_delete_form.html.twig') }}
{% endblock %}
