{% extends 'base.html.twig' %}

{% block title %}Edytuj wydawnictwa{% endblock %}

{% block body %}
    <h1>Edytuj wydawnictwo</h1>

    {{ include('publishing_house/_form.html.twig') }}

    {{ include('_layout/back_link.html.twig', {'path_list': 'app_publishinghouse_index'}) }}

{#    {{ include('publishing_house/_delete_form.html.twig') }}#}
{% endblock %}
