{% extends 'base.html.twig' %}

{% block title %}Dodaj wydawnictwo{% endblock %}

{% block body %}

    <h1>Dodaj wydawnictwo</h1>

    {{ include('publishing_house/_form.html.twig') }}

    {{ include('_layout/back_clink.html.twig', {'path_list': 'app_publishinghouse_index'}) }}

{% endblock %}
