<div class="row">
    <div class="col-11">
        <h1>{{ header }}</h1>
    </div>
    <div class="col-1">
        <a class="btn btn-outline-primary btn-sm pull-right" href="{{ path(path_add) }}">dodaj</a>
    </div>
</div>
