<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                Czy na pewno usunąć książkę "<span id="modalBookTitle"></span>"  ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Tak</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">Nie</button>
            </div>
        </div>
    </div>
</div>