{% extends 'base.html.twig' %}

{% block title %}Edytuj miejsca wydania{% endblock %}

{% block body %}
    <h1>Edytuj miejsca wydania</h1>

    {{ include('city/_form.html.twig') }}

    {{ include('_layout/back_clink.html.twig', {'path_list': 'app_city_index'}) }}

{#    {{ include('city/_delete_form.html.twig') }}#}
{% endblock %}
