{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
    <h1>Edycja miasta</h1>

    {{ include('city/_form.html.twig') }}

    <a class="back-link" href="{{ path('app_city_index') }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Powrót do listy</a>

{#    {{ include('city/_delete_form.html.twig') }}#}
{% endblock %}
