{% extends 'base.html.twig' %}

{% block title %}Miejsca wydania{% endblock %}

{% block body %}


    {% include '_layout/list_header.html.twig' with {'header': 'Miejsce wydania', 'path_add': 'app_city_new'} %}


    <table class="table rounded table-bordered">
        <thead>
        <tr>
            <th scope="col">Miasto</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.name }}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_city_show', {'id': city.id}) }}">szczegóły</a>
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_city_edit', {'id': city.id}) }}">edytuj</a>
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('app_city_delete', {'id': city.id}) }}">usuń</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
