{% extends 'base.html.twig' %}

{% block title %}Dodaj miejsce wydania{% endblock %}

{% block body %}
    <h1>Dodaj miejsce wydania</h1>

    {{ include('city/_form.html.twig') }}

    {{ include('_layout/back_link.html.twig', {'path_list': 'app_city_index'}) }}

{% endblock %}
